dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
target

# added by GitSavvy
.vagrant/

# added by GitSavvy
*.log

# added by GitSavvy
/*.svg

# added by GitSavvy
.stack-work/
*/.stack-work/
junk
